<!-- User page shows cards of User's Favorite movies. 
Buttons to update User Profile and Delete Account are provided -->
<app-nav-bar></app-nav-bar>

<h1 style="padding: 0 20px; margin-top: 40px; font-weight: bold; letter-spacing: 3px;">{{user.Username}}</h1>
<h2 style="padding: 0 20px;">Favorite Movies</h2>
<h3 *ngIf="!this.faves.length" style="padding: 0 20px">You haven't added any favorites!</h3>
<div style="display: flex;">
  <mat-card *ngFor="let movie of faves;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} width="280px" />
    <mat-card-actions>
      <button mat-button color="primary" (click)="openGenre(movie.Genre.Name, movie.Genre.Description)">
        Genre
      </button>
      <button mat-button color="primary"
        (click)="openDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)">
        Director
      </button>
      <button mat-button color="primary" (click)="openSynopsis(movie.Title, movie.Description, movie.ImagePath)">
        Synopsis
      </button>
      <button mat-icon-button color="warn" (click)="deleteFavorite(movie._id)"
        matTooltip="Delete {{movie.Title}} from your Favorites" matTooltipPosition="right">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="user-buttons" style="text-align: right;">

  <button class="update-profile" mat-raised-button style="margin: 10px" color="primary"
    (click)="openUpdateProfileDialog()">Update
    Profile</button>
  <button class="delete-profile" mat-raised-button style="margin: 10px" color="warn"
    (click)="deleteUserProfile()">Delete Profile</button>


</div>