<app-nav-bar></app-nav-bar>

<h1>{{user.Username}}</h1>
<h2>Favorite Movies</h2>
<div style="display: flex;">
  <mat-card *ngFor="let movie of faves;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} width="280px" />
    <mat-card-actions>
      <button mat-icon-button (click)="deleteFavorite(movie._id)">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="user-buttons">

  <button class="update-profile" mat-raised-button color="primary" (click)="openUpdateProfileDialog()">Update
    Profile</button>
  <button class="delete-profile" mat-raised-button color="warn" (click)="deleteUserProfile()">Delete Profile</button>


</div>